.header {
  width: 100%;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.header-logo {
  max-width: 100px;
  max-height: 100px;
  max-width: 100%;
}

.header-button{
  position: relative;
  width: 100%; /* Ajuste a largura da div de acordo com sua necessidade */
  height: 200px; 
}

.header-banner {
  display: flex;
  justify-content: center;
}