.textField {
  margin-bottom: 20px;
}
  
.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
  
.input {
  width: 90%;
  padding: 8px;
  font-size: 14px;
  background-color: #dddddd;
  border: 1px solid #252525;
  border-radius: 4px;
}